<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body >
  <div id="wrapper">
  <header id="header">
    <div class="inner">
      <a href="/" class="logo">
        <span class="symbol"><img src="images/logo.svg" alt="" /></span>
        <span class="title">드림 월드 : Dream World</span>
      </a>
     <nav>
        <ul>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </nav>
      <nav id="menu">
        <h2>Menu</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dreamland">dreamland</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </nav>
    </div>
  </header>

