<%- include('component/header') %>
<main>
    <div class="inner">
        <header>
            <h1>Project 1</h1>
            <p>Details about Project 1.</p>
        </header>
    </div>
</main>
<%- include('component/footer') %>